# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Environment variables (Crucial!)
.env
.env.local

# IDEs
.vscode/
.idea/

public/

# Node / React
node_modules/
frontend/node_modules/
dist/


# System
.DS_Store